.ox-button--2 {
    background-color: $color_b_3;
    color: $color_white;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.35;
    padding: 11px 18px;
    border: 2px solid $color_b_3;
}

.ox-button--secondary {
    background-color: $color_white;
    color: $color_b_3;
    border: 2px solid $color_b_3;
}

.ox-button--lock {
    &.disabled,
    &:disabled {
        opacity: 1;
    }

    &.--locked {
        color: $color_b_3;
        .ox-button__icon {
            &.--locked {
                display: block;
            }
            &.--unlocked {
                display: none;
            }
        }
    }

    &.--unlocked {
        color: $color_b_13;

        .ox-button__icon {
            &.--unlocked {
                display: block;
            }
            &.--locked {
                display: none;
            }
        }
    }
}

.ox-button--icon-visibility {
    &.disabled,
    &:disabled {
        opacity: 1;
    }

    width: 24px;
    height: 22px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;

    &.--not-visible {
        background-image: url(images/icon-eye-hidden-2.svg);
        background-size: 24px auto;
    }

    &.--visible {
        background-image: url(images/icon-eye-visible-2.svg);
        background-size: 24px auto;
    }
}

.ox-button--download {
    color: $color_b_15;

    svg {
        width: 16px;
        height: auto;
    }

    .ox-button__text {
        @include screen-reader-text;
    }

    &:hover {
        color: $color_b_15;
    }
}

.ox-button--view {
    color: $color_b_15;

    svg {
        width: 24px;
        height: auto;
    }

    &:hover {
        color: $color_b_15;
    }
}


.ox-badge {
    display: inline-block;
    background: $color_b_12;
    color: $color_b_3;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.42;
    padding: 2px 9px;
    border-radius: 30px;

    &.--notification {
        background: $color_b_14;
        color: $color-white;
        font-size: 25px;
        font-weight: bold;
        line-height: 1.36;
        text-align: center;
        width: 38px;
    } 
}

.ox-button--toggleVisibility {
    font-size: 12px;
    font-weight: bold;

    .ox-button__text {
        @include screen-reader-text;
    }

    &.--unlocked {
        color: $color_b_13;

        .--icon-locked {
            display: none;
        }
        .--icon-unlocked {
            display: block;
        }
    } 

    &.--locked {
        color: $color_b_3;

        .--icon-locked {
            display: block;
        }

        .--icon-unlocked {
            display: none;
        }
    }
}

.ox-modal {

    &__inner {
        box-shadow: 0 4px 20px 0 #0003;
        border-radius: 25px;
        max-width: 490px;
    }
    
    &__message {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        text-align: center;
        color: $color_b_16;
    }

    .ox-modal__footer {
        justify-content: center;
        margin: 0 -20px;
        .ox-button {
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    &--lockstatus {
        .ox-modal__message {
            background-image: url(images/locked.svg);
            background-size: 35px 50px;
        }

        &.--unlocked {
            .ox-modal__message {
                background-image: url(images/unlocked.svg);
                background-size: 35px 50px;
            }
        }
    }

    &--visibilitystatus {
        .ox-modal__message {
            background-image: url(images/icon-eye-hidden.svg);
            background-size: 75px 64px;
        }

        &.--unlocked {
            .ox-modal__message {
                background-image: url(images/icon-eye-visible.svg);
                background-size: 75px 48px;
            }
        }
    }

    &--alert {
        .ox-modal__message {
            background-image: url(images/warning.svg);
            background-size: 56px 48px;
        }
    }
}
