.ox-resourcessection-navbar {
    box-shadow: 0 0 15px 0 #02285c29;
    background: $color-white;
    position: fixed;
    bottom: 0;
    bottom: calc(var(--st) * -1);
    width: 100%;
    left: 0;
    z-index: 100;

    &__title {
        display: none;
    }
}

.ox-resourcessection-header {
    min-height: 32px;

    &::before {
        content: none;
    }

    &__description {
        display: none;
    }

    &__title {
        padding: 9px 0;
    }

    .ox-title {
        @include font-size(1);
        font-weight: bold;
        line-height: 1.4;
        text-transform: uppercase;
    }
}

.ox-resourceslist {
    &__inner {
        padding-bottom: 64px;
    }
}