.ox-page--resourcessection { 
    &.loading {
        visibility: hidden;
    }
}

.ox-resourcessection-navbar {
    box-shadow: 0 0 15px 0 #02285c29;
    background: $color-white;
    position: fixed;
    bottom: 24px;
    //bottom: calc(var(--st) * -1);
    width: 100%;
    left: 0;
    z-index: 100;

    &__title {
        display: none;
    }
}

.ox-resourcessection-header {
    min-height: 32px;

    &::before {
        content: none;
    }

    &__description {
        display: none;
    }

    &__title {
        padding: 9px 0;
    }

    .ox-title {
        @include font-size(1);
        font-weight: bold;
        line-height: 1.4;
        text-transform: uppercase;
    }
}

.ox-resourceslist {


    &__inner {
        padding-bottom: 64px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $color_b_5;
        padding: 0 0 7px 0;
        margin: 50px 0 0 0;
        font-size: 15px;
        font-weight: 600;
        line-height: 1;
        color: $color_b_5;
   
    }

}

.ox-resourceslist--cards,
.ox-resourceslist--cards--2,
.ox-resourceslist--cards--3 {
    .ox-resourceslist__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;
        margin: 0 -8px -42px;

        .ox-resource--card {
            width: calc(33.333% - 16px);
            margin: 0 8px 42px;

            @media (max-width: $mq_max_width_tablet) {
                width: calc(50% - 16px);
            }
            @media (max-width: $mq_max_width_tablet_portrait) {
                width: calc(100% - 16px);
            }
        }
    }
}

.ox-resource--card {
    box-shadow: 0 0 15px 0 #02285c29;
    background: $color-white;
    padding: 0;
    border-radius: 32px;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: column;

    .ox-resource__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        color: $color_b_5!important;
        min-width: 100%;
    }

    .ox-resource__image {
        width: 100%;
        height: 150px;
        min-height: 150px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;

        .ox-badge {
            position: absolute;
            right: 12px;
            top: 12px;
        }
    }

    .ox-resource__body {
        padding: 16px;
        flex-grow: 2;
    }

    .ox-resource__title {
        @include font-size(1.2);
        font-weight: bold;
        line-height: 1.42;
        color: $color_b_5;
        text-transform: uppercase;
        margin-top: 0;
        color: $color_b_5;
    }

    .ox-resource__description {
        font-size: 12px;
        line-height: 1.42;
        text-align: left;
        color: $color_darkgray;
        height: 68px;
        @include scrollable();
    }

    .ox-resource__textlink {
        font-size: 15px;
        font-weight: 600;
        line-height: 1.33;
        color: $color_b_2;
        padding: 16px;
        margin-bottom: 8px;
    }

    .ox-resource__download {
        font-size: 12px;
        font-weight: 600;
        line-height: 1.42;
        color: $color_b_3;
        min-width: 100%;
        padding: 16px;
        margin-bottom: 8px;

        svg {
            width: 13px;
            height: auto;
            display: inline-block;
            margin-left: 8px;
        }
    }

    &--2 {
        
        .ox-resource__title {
            font-size: 15px;
            font-weight: bold;
            line-height: 1.33;
            color: $color_b_3;
            min-height: 60px;
            text-transform: none;
        }

        .ox-resource__image {
            height: 97px;
            min-height: 97px;
        }
    }

    &--3 {
        position: relative;
        min-height: 134px;
        padding-bottom: 20px;

        &.--student.--locked {
            opacity: .7;
        }

        .ox-resource__title {
            font-size: 15px;
            font-weight: 400;
            line-height: 1.33;
            color: $color_b_3;
            padding-right: 30px;
        }

        .ox-resource__description {
            font-size: 12px;
            font-weight: bold;
            line-height: 1.42;
            color: $color_b_3;
        }

        .ox-button--lock {
            position: absolute;
            z-index: 10;
            right: 18px;
            top: 10px;
        }

        .ox-button--view {
            position: absolute;
            z-index: 10;
            right: 18px;
            bottom: 10px;
        }
    }
}

.ox-resource--exam {
    padding-right: 0;

    .ox-resource__title {
        @include text--title-2;
    }
} 


.ox-resource-header__title {
    @include text--title-2;
}




.ox-resourceslist--cards--2 {
    .ox-resourceslist__inner {
        margin: 0 -13px -34px;
        
        .ox-resource--card {
            margin: 0 13px 34px;
            width: calc(33.333% - 26px);

            @media (max-width: $mq_max_width_tablet) {
                margin: 0 8px 20px;
                width: calc(50% - 16px);
            }
            @media (max-width: $mq_max_width_tablet_portrait) {
                width: calc(100% - 16px);
            }
        }
    }
}



.ox-resourceslist--cards--3 {
    .ox-resource-header {
        min-width: 100%;
        margin: 0 8px 16px;
    }

    .ox-resourceslist__inner {
        .ox-resource--card {
            width: 174px;
        }
    }
}


// Grade Badge
.ox-resource--exam {
    .ox-gradebadge span {
        position: relative;
    }
    
    .ox-gradebadge {
        margin-left: 0;
        margin-right: 0;
    }


    .ox-resource__grade {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .ox-resource__tag {
        display: inline-block;
        padding: 0 22px;
        font-size: 15px;
        font-weight: bold;
        line-height: 0.93;
        text-align: center;
        color: $color_b_13;
        text-transform: uppercase;
    }
}



//overwrite

.ox-resource__icon--archivo {
    & + .ox-resource__body {
        .ox-resource__title {
            position: relative;
            padding-right: 30px;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 2px;
                transform: translate(0, -50%);
                z-index: 10;
                width: 24px;
                height: 24px;
                background-color: transparent;
                background-size: 44px auto;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url(images/download.svg);
            }
        }
    }
}



// Hack to avoid blank space when scrolling

.ox-body-resourcessection .ox-page {
    transform: none!important;
}