.ox-resourcessection-navbar {
    box-shadow: 0 0 15px 0 #02285c29;
    background: $color-white;
    position: fixed;
    bottom: 0;
    bottom: calc(var(--st) * -1);
    width: 100%;
    left: 0;
    z-index: 100;

    &__title {
        display: none;
    }
}

.ox-resourcessection-header {
    min-height: 32px;

    &::before {
        content: none;
    }

    &__description {
        display: none;
    }

    &__title {
        padding: 9px 0;
    }

    .ox-title {
        @include font-size(1);
        font-weight: bold;
        line-height: 1.4;
        text-transform: uppercase;
    }
}

.ox-resourceslist {
    &__inner {
        padding-bottom: 64px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $color_b_5;
        padding: 0 0 7px 0;
        margin: 50px 0 0 0;
        font-size: 15px;
        font-weight: 600;
        line-height: 1;
        color: $color_b_5;
   
    }

}

.ox-resourceslist--cards {
    .ox-resourceslist__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;
        margin: 0 -8px;

        .ox-resource--card {
            width: calc(33.333% - 16px);
            margin: 0 8px 16px;
        }
    }
}

.ox-resource--card {
    box-shadow: 0 0 15px 0 #02285c29;
    background: $color-white;
    padding: 0;
    border-radius: 32px;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: column;

    .ox-resource__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        color: $color_b_5!important;
        min-width: 100%;
    }

    .ox-resource__image {
        width: 100%;
        height: 150px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;

        .ox-badge {
            position: absolute;
            right: 12px;
            top: 12px;
        }
    }

    .ox-resource__body {
        padding: 16px;
    }

    .ox-resource__title {
        @include font-size(1.2);
        font-weight: bold;
        line-height: 1.42;
        color: $color_b_5;
        text-transform: uppercase;
        margin-top: 0;
    }

    .ox-resource__download {
        font-size: 12px;
        font-weight: 600;
        line-height: 1.42;
        color: $color_b_3;
        min-width: 100%;
        padding: 16px;
        margin-bottom: 8px;
    }

    &--2 {
        
        .ox-resource__title {
            font-size: 15px;
            font-weight: bold;
            line-height: 1.33;
            color: $color_b_3;
            min-height: 60px;
        }

        .ox-resource__image {
            height: 97px;
        }
    }
}

.ox-resource--exam {
    padding-right: 0;

    .ox-resource__title {

        font-size: 15px;
        font-weight: 600;
        line-height: 1.07;
        color: $color_b_3;
    
    }
} 


.ox-badge {
    display: inline-block;
    background: $color_b_12;
    color: $color_b_3;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.42;
    padding: 2px 9px;
    border-radius: 30px;
}

.ox-button--toggleVisibility {
    font-size: 12px;
    font-weight: bold;

    &.--unlocked {
        color: $color_b_13;
    } 

    &.--locked {
        color: $color_b_3;
    }
}