.btn.ox-btn--end {
    background: $color_b_3;
}

.ox-review--test {
    &__inner {
        min-width: 900px;
        max-width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}


.ox-body-slide .ox-navigation-wrapper {
    bottom: 0;
}

.ox-body-slide.ox-html_content .slider-control, 
.ox-body-slide.ox-html_content .slider-control:focus {
    margin-top: -40px;
}



// Slides activities 

.ox-body-slide .radio-option label.filter-label.respuesta_ok::before {
    border-color: $color_b_13!important;
    background-color: $color_b_13_lighter!important;
}

.ox-body-slide .radio-option label.filter-label.respuesta_ko::before {
    border-color: $color_b_17!important;
    background-color: $color_b_17_lighter!important;
}


.ox-body-slide #actividad .workspace.multiple-choice .opcion,
.ox-body-slide #actividad .workspace.multiple-choice .opcion.respuesta_ok, 
.ox-body-slide #actividad .workspace.multiple-choice .opcion.solucion,
.ox-body-slide #actividad .workspace.multiple-choice .opcion.respuesta_ko {
    > *  {
        border-width: 2px;
        border-radius: 5px;
    }

}

.bck-dropdown.right-fb-dropdown,
.bck-dropdown.wrong-fb-dropdown {
    border-radius: 20px;

    .bck-dropdown-titulo {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.36;
        color: $color_white;
    }

    .bck-dropdown-icon {
        margin-right: -16px;
        margin-top: 6px;

        .fa {
            padding: 0;
            &:before {
                content: "\f067";
                color: $color_white;
                border-radius: 24px;
                border: 2px solid $color_white;
                border-radius: 30px;
                width: 24px;
                height: 24px;
                display: block;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .bck-dropdown-content {
        background: $color_white;
        border-radius: 0 0 20px 20px;
        margin: 0;
        padding: 20px;
    }
}

.fb_solucion .bck-dropdown.right-fb-dropdown,
.bck-dropdown.right-fb-dropdown {
    background: $color_b_13;
    border-color: $color_b_13;
}

.bck-dropdown.wrong-fb-dropdown,
.fb_solucion .bck-dropdown.wrong-fb-dropdown {
    background: $color_b_17;
    border-color: $color_b_17;
}

.fb_right, .fb_wrong, .fb_solucion {
    justify-content: flex-start;
}

.workspace.multiple-choice .fb_right, .workspace.multiple-choice .fb_wrong, .workspace.multiple-choice .fb_solucion {
    margin-bottom: 20px;
    max-width: 374px;

    .bck-dropdown.right-fb-dropdown,
    .bck-dropdown.wrong-fb-dropdown {
        min-width: 100%;
    }
}
.ox-body-slide #actividad .workspace.test li, 
.ox-body-slide #actividad .workspace.true-false li {

    &.fb_right,
    &.fb_wrong,
    &.fb_solution {
        margin-bottom: 30px;
        margin-top: -10px;
    }

}

.ox-topbar {
    .ox-button--icon--close {
        display: none!important;
    }
}