.btn.ox-btn--end {
    background: $color_b_3;
}

.ox-review--test {
    &__inner {
        min-width: 900px;
        max-width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}


.ox-body-slide .ox-navigation-wrapper {
    bottom: 0;
}

.ox-body-slide.ox-html_content .slider-control, 
.ox-body-slide.ox-html_content .slider-control:focus {
    margin-top: -40px;
}