@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");
:root {
  --st: 0px;
}

/**
 * Prefixed styeles fot placehoders
 *
 * Usage:
 * .selector {
 *   @include placeholder {
 *     font-style:italic;
 *     color: white;
 *     font-weight:100;
 *   }
 * }
 */
.ox-container {
  max-width: 1060px;
  padding: 0 50px;
  margin: 0 auto;
}

.ox-grid .ox-grid__item--empty {
  border-radius: 45px;
}
.ox-grid--5items-square {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  min-height: 0;
}
.ox-grid--5items-square .ox-grid__item .ox-card {
  padding: 100% 0 0 0;
}
.ox-grid--5items-square .ox-grid__item:nth-child(1) {
  grid-area: 1/1/2/2;
}
.ox-grid--5items-square .ox-grid__item:nth-child(2) {
  grid-area: 1/2/2/3;
}
.ox-grid--5items-square .ox-grid__item:nth-child(3) {
  grid-area: 1/3/2/4;
}
.ox-grid--5items-square .ox-grid__item:nth-child(4) {
  grid-area: 1/4/2/5;
}
.ox-grid--5items-square .ox-grid__item:nth-child(5) {
  grid-area: 1/5/2/6;
}
@media (max-width: 700px) {
  .ox-grid--5items-square {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .ox-grid--5items-square .ox-grid__item {
    min-height: 0;
    min-width: 100%;
  }
  .ox-grid--5items-square .ox-grid__item .ox-card {
    min-height: 0;
  }
  .ox-grid--5items-square .ox-grid__item .ox-card__inner {
    min-height: 0;
    position: absolute;
  }
}
.ox-grid--4items-nowrap {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  min-height: 0;
}
.ox-grid--4items-nowrap .ox-grid__item .ox-card {
  padding: 65% 0 0 0;
}
.ox-grid--4items-nowrap .ox-grid__item:nth-child(1) {
  grid-area: 1/1/2/2;
}
.ox-grid--4items-nowrap .ox-grid__item:nth-child(2) {
  grid-area: 1/2/2/3;
}
.ox-grid--4items-nowrap .ox-grid__item:nth-child(3) {
  grid-area: 1/3/2/4;
}
.ox-grid--4items-nowrap .ox-grid__item:nth-child(4) {
  grid-area: 1/4/2/5;
}
.ox-grid--4items-nowrap .ox-grid__item:nth-child(5) {
  grid-area: 1/5/2/6;
}
@media (max-width: 700px) {
  .ox-grid--4items-nowrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .ox-grid--4items-nowrap .ox-grid__item {
    min-height: 0;
    min-width: 100%;
  }
  .ox-grid--4items-nowrap .ox-grid__item .ox-card {
    min-height: 0;
  }
  .ox-grid--4items-nowrap .ox-grid__item .ox-card__inner {
    min-height: 0;
    position: absolute;
  }
}

.ox-card .ox-badge {
  position: absolute;
  right: -6px;
  top: -6px;
}

.ox-title--1 {
  font-size: 30px;
}

.ox-title--2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #313131;
}

.ox-title--3 {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 1.36;
  font-weight: bold;
}

.ox-module {
  color: #313131;
}

.ox-module--header {
  color: #fff;
}
.ox-module--header .ox-module__inner {
  padding-top: 16px;
  padding-bottom: 16px;
}
.ox-module--header .ox-module__inner .ox-module--header-logo {
  width: 45px;
  height: 45px;
}

.ox-card {
  border-radius: 45px;
  box-shadow: 0 5px 20px 0 #6c757d3b;
  background-position: center center;
}

.ox-module--custom .ox-card .ox-card__inner .ox-title--3 {
  font-size: 22px;
  color: #777777;
  line-height: 1.35;
  font-weight: bold;
}
.ox-module--custom .ox-card .ox-card__inner .ox-title--5:not(:empty) + .ox-title--3 {
  font-size: 22px;
  color: #02285c;
  line-height: 1.35;
  font-weight: bold;
}
.ox-module--custom .ox-card .ox-card__inner .ox-title--5:not(:empty) {
  font-size: 12px;
  color: #313131;
  line-height: 1.35;
  font-weight: bold;
  order: 2;
}

.ox-grid--5items-square .ox-card .ox-card__inner .ox-title--3 {
  font-size: 12px;
  color: #313131;
  line-height: 1.35;
  font-weight: bold;
}

.ox-card__inner {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 20px 30px;
}
.ox-card__inner.ox-ta-left-up {
  align-items: flex-start;
  text-align: left;
}
.ox-card__inner.ox-ta-right-up {
  justify-content: flex-start;
  align-items: flex-end;
  text-align: right;
}
.ox-card__inner.ox-ta-center-up {
  align-items: center;
  text-align: center;
}
.ox-card__inner.ox-ta-center {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.ox-navigation--1 .ox-navigation__item__inner {
  border-radius: 45px;
}

.ox-button--icon--close-2::before {
  width: 22px;
  height: 22px;
  background: url(images/close.svg) center center no-repeat;
  background-size: contain;
}

.ox-page {
  height: calc(100% - 68px);
}

.offline-pc .ox-page {
  height: calc(100% - 68px);
}

.ox-page--home {
  height: calc(100% - 93px);
}

.offline-pc .ox-page--home {
  height: calc(100% - 93px);
}

.ox-bubbleVisible .ox-page {
  overflow: hidden;
  height: 100vh;
}

#ox-module-bys {
  position: fixed;
  background: #e1f4f3;
  border: 4px solid #e1f4f3;
  z-index: 280;
  width: 83px;
  height: 83px;
  bottom: 60px;
  right: 60px;
  border-radius: 100px 100px 6px 100px;
  transition: bottom 0.3s linear;
}
#ox-module-bys > .ox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
#ox-module-bys .ox-module__header {
  margin-bottom: 0;
  padding: 0 40px;
}
#ox-module-bys .ox-module__header .ox-title {
  font-size: 10px;
  line-height: 1.35;
  font-weight: 600;
  text-align: center;
  color: #02285c;
  position: relative;
  top: -8px;
}
#ox-module-bys .ox-module__header .ox-floatingbubble__footer {
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
}
#ox-module-bys .ox-module__header .ox-link {
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
}
#ox-module-bys .ox-module__content {
  display: none;
  /*position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $color_white;
  z-index: 1200;
  opacity: 0;
  pointer-events: none;*/
  /*transition: opacity .3s linear;*/
  /*max-height: 100%;*/
}
#ox-module-bys:not(.--visible) {
  bottom: calc(var(--st) * -1 + 20px);
}
#ox-module-bys:not(.--visible) .ox-container {
  max-width: 100%;
  padding: 0;
}
#ox-module-bys.--visible {
  top: 0;
  top: var(--st);
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border: 0;
  border-radius: 0;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: #777777 #fff;
  scrollbar-width: thin;
}
#ox-module-bys.--visible::-webkit-scrollbar {
  width: 6px;
}
#ox-module-bys.--visible::-webkit-scrollbar-track {
  background: transparent;
}
#ox-module-bys.--visible::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius: 20px;
}
#ox-module-bys.--visible > .ox-container {
  max-height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
#ox-module-bys.--visible .ox-module__content {
  opacity: 1;
  pointer-events: auto;
  display: block;
  flex-grow: 2;
  padding-bottom: 100px;
}
#ox-module-bys.--visible .ox-floatingbubble__footer {
  width: 100%;
  height: 45px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 0 15px 0 #02285c29;
  opacity: 1;
  top: calc(var(--st) + 100vh - 89px);
}
#ox-module-bys.--visible .ox-module__header {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
}
#ox-module-bys.--visible .ox-module__header .ox-title {
  font-size: 30px;
  line-height: 1.36;
  font-weight: bold;
  text-align: left;
  color: #02285c;
  text-transform: uppercase;
  top: auto;
}
#ox-module-bys.--visible .ox-module__header .ox-link {
  opacity: 1;
  position: relative;
  top: 14px;
  left: 0;
  width: auto;
  color: #313131;
  font-weight: 600;
  font-style: italic;
}
#ox-module-bys.--visible .ox-module__header .ox-link::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 18px;
  background: url(images/goback.svg) 0 0 no-repeat;
  background-size: contain;
  margin-right: 8px;
  margin-top: 2px;
}
#ox-module-bys .ox-list--1 {
  color: #2ba2b7;
  max-width: calc(1060px - 100px);
  margin: 0 auto;
}
#ox-module-bys .ox-list--1 li {
  display: block;
  margin-bottom: 18px;
}
#ox-module-bys .ox-list--1 li:after {
  content: none;
}
#ox-module-bys .ox-list--1 li::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #2ba2b7;
  margin-right: 12px;
  position: relative;
  top: -3px;
}
#ox-module-bys .ox-list--1 li a {
  color: #2ba2b7;
}

.ox-searchform {
  position: relative;
  width: 100%;
  margin-left: 0;
  padding: 20px 0;
}
@media screen and (max-width: 700px) {
  .ox-searchform {
    width: 100%;
    min-width: 100%;
  }
}
.ox-searchform__field {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  margin: 0;
  box-shadow: 0 5px 20px 0 #6c757d3b;
  border-radius: 70px;
}
.ox-searchform__field__input {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.35;
  color: #5d647f;
  background: #fff;
  border: 0;
  border-radius: 38px 0 0 38px;
  height: 38px;
  padding: 22px 22px 21px;
  width: 100%;
  text-indent: 4px;
}
.ox-searchform__field__input::-webkit-input-placeholder {
  color: #5d647f;
  font-weight: 400;
}

.ox-searchform__field__input:-moz-placeholder {
  color: #5d647f;
  font-weight: 400;
}

.ox-searchform__field__input::-moz-placeholder {
  color: #5d647f;
  font-weight: 400;
}

.ox-searchform__field__input:-ms-input-placeholder {
  color: #5d647f;
  font-weight: 400;
}

.ox-searchform__field__input::placeholder {
  color: #5d647f;
  font-weight: 400;
}

.ox-searchform__field__button {
  display: inline-block;
  background: url(images/search.svg) 15px center no-repeat #fff;
  background-size: 21px 21px;
  border-radius: 0 54px 54px 0;
  width: 54px;
  min-width: 54px;
  height: 38px;
}
.ox-searchform__results {
  top: 80px;
}
.ox-searchform__results__inner {
  border-radius: 6px;
  box-shadow: 0 5px 20px 0 #6c757d3b;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: #777777 #fff;
  scrollbar-width: thin;
}
.ox-searchform__results__inner::-webkit-scrollbar {
  width: 6px;
}
.ox-searchform__results__inner::-webkit-scrollbar-track {
  background: transparent;
}
.ox-searchform__results__inner::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius: 20px;
}

.ox-module__header > .ox-title--2 {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.33;
}

.ox-module--togglable .ox-module__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}
.ox-module--togglable .ox-module__header .ox-link {
  font-size: 12px;
  font-weight: 600;
  color: #313131;
  text-decoration: underline;
}
.ox-module--togglable .ox-module__content {
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: -30px;
}
.ox-module--togglable .ox-module__content > * {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
@media (max-width: 700px) {
  .ox-module--togglable.ox-visible .ox-module__content {
    max-height: 3000px;
  }
}

.ox-footer {
  padding-top: 12px;
  padding-bottom: 12px;
  min-height: 50px;
}

.ox-footer__credits ul {
  font-size: 15px;
}

.ox-footer__logooxford {
  height: 20px;
}

.ox-body-slide #actividad {
  padding-bottom: 0;
}

.ox-body-slide .slider-control,
.ox-body-slide .slider-control:focus {
  margin-top: -40px;
}

.ox-resourcessection-header {
  background-color: #2ba2b7;
  color: #fff;
}

.ox-button--2 {
  background-color: #02285c;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.35;
  padding: 11px 18px;
  border: 2px solid #02285c;
}

.ox-button--secondary {
  background-color: #fff;
  color: #02285c;
  border: 2px solid #02285c;
}

.ox-button--lock.disabled, .ox-button--lock:disabled {
  opacity: 1;
}
.ox-button--lock.--locked {
  color: #02285c;
}
.ox-button--lock.--locked .ox-button__icon.--locked {
  display: block;
}
.ox-button--lock.--locked .ox-button__icon.--unlocked {
  display: none;
}
.ox-button--lock.--unlocked {
  color: #8bcb71;
}
.ox-button--lock.--unlocked .ox-button__icon.--unlocked {
  display: block;
}
.ox-button--lock.--unlocked .ox-button__icon.--locked {
  display: none;
}

.ox-button--view {
  color: #548fde;
}
.ox-button--view svg {
  width: 24px;
  height: auto;
}

.ox-badge {
  display: inline-block;
  background: #e5e9ee;
  color: #02285c;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.42;
  padding: 2px 9px;
  border-radius: 30px;
}
.ox-badge.--notification {
  background: #ff5353;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.36;
  text-align: center;
  width: 38px;
}

.ox-button--toggleVisibility {
  font-size: 12px;
  font-weight: bold;
}
.ox-button--toggleVisibility .ox-button__text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
.ox-button--toggleVisibility.--unlocked {
  color: #8bcb71;
}
.ox-button--toggleVisibility.--unlocked .--icon-locked {
  display: none;
}
.ox-button--toggleVisibility.--unlocked .--icon-unlocked {
  display: block;
}
.ox-button--toggleVisibility.--locked {
  color: #02285c;
}
.ox-button--toggleVisibility.--locked .--icon-locked {
  display: block;
}
.ox-button--toggleVisibility.--locked .--icon-unlocked {
  display: none;
}

.ox-modal__inner {
  box-shadow: 0 4px 20px 0 #0003;
  border-radius: 25px;
  max-width: 490px;
}
.ox-modal__message {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
  color: #001d1f;
}
.ox-modal .ox-modal__footer {
  justify-content: center;
  margin: 0 -20px;
}
.ox-modal .ox-modal__footer .ox-button {
  margin-left: 20px;
  margin-right: 20px;
}
.ox-modal--lockstatus .ox-modal__message {
  background-image: url(images/locked.svg);
  background-size: 35px 50px;
}
.ox-modal--lockstatus.--unlocked .ox-modal__message {
  background-image: url(images/unlocked.svg);
  background-size: 35px 50px;
}
.ox-modal--alert .ox-modal__message {
  background-image: url(images/warning.svg);
  background-size: 56px 48px;
}

.ox-body-book #viewer {
  padding-top: 0;
  padding-bottom: 45px;
}

.ox-body-book .slider-control,
.ox-body-book .slider-control:focus {
  width: 25px;
  height: 22px;
  top: auto;
  bottom: 10px;
  margin-top: 0;
  background-color: #9da09e;
  z-index: 1050;
  margin-left: -25px;
}
.ox-body-book .slider-control .ox-slider-control-text,
.ox-body-book .slider-control:focus .ox-slider-control-text {
  display: none !important;
}
.ox-body-book .slider-control .fa,
.ox-body-book .slider-control:focus .fa {
  position: absolute !important;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  right: auto;
  margin: 0 !important;
}
.ox-body-book .slider-control .fa::before,
.ox-body-book .slider-control:focus .fa::before {
  width: 20px;
  height: 10px;
  background-repeat: no-repeat;
  filter: brightness(10);
}
.ox-body-book .slider-control.left,
.ox-body-book .slider-control:focus.left {
  right: auto;
  left: 50%;
  transform: none;
  border-radius: 20px 0 0 20px !important;
}
.ox-body-book .slider-control.right,
.ox-body-book .slider-control:focus.right {
  left: 50%;
  right: auto;
  transform: none;
  border-radius: 0 20px 20px 0 !important;
  margin-left: 0;
}

.ox-link-icon {
  color: #02285c;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.35;
}
.ox-link-icon:hover, .ox-link-icon:active, .ox-link-icon:focus {
  color: #02285c;
}
.ox-link-icon svg {
  display: block;
  margin: 0 auto 5px;
  transform: scale(0.75);
}
.ox-link-icon.--active {
  background: #2ba2b7;
}
.ox-link-icon.--active svg path {
  fill: #fff;
}

.ox-button--toggleBookMenu {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.36;
  color: #02285c;
  padding: 0;
  padding-right: 60px;
  min-height: 100%;
  min-width: 298px;
  background: none;
  border: 0;
}
.ox-button--toggleBookMenu::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #677e9d;
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.--hidden .ox-button--toggleBookMenu::before {
  transform: translate(-50%, -50%) rotate(180deg);
}
.ox-button--toggleBookMenu::after {
  content: "";
  width: 104px;
  height: 100%;
  background: #f2f4f7;
  position: absolute;
  right: 0;
  top: 0;
}

.ox-switch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 42px;
}
.ox-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.ox-switch__label {
  color: #02285c;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.42;
  white-space: nowrap;
}
.ox-switch__slider {
  position: absolute;
  cursor: pointer;
  top: 16px;
  left: 0;
  height: 10px;
  width: 32px;
  background-color: #999;
  transition: 0.4s;
  border-radius: 34px;
}
.ox-switch__slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: -7px;
  top: -4px;
  background-color: #02285c;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .ox-switch__slider {
  background-color: #8bcb71;
}
input:focus + .ox-switch__slider {
  box-shadow: 0 0 1px #8bcb71;
}
input:checked + .ox-switch__slider:before {
  transform: translateX(28px);
}

.ox-body-book .ox-navigation-wrapper {
  padding: 0 20px;
  height: auto;
  box-shadow: 0 0 15px 0 #02285c29;
  z-index: 550;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.ox-body-book.ox-book-loaded .ox-navigation-wrapper {
  display: flex;
}

.ox-book-navigation {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  transition: height 0.3s ease-in;
  overflow: hidden;
  height: 45px;
}
.ox-book-navigation .ox-switch,
.ox-book-navigation .ox-link-icon {
  margin: 0 10px;
}
.ox-book-navigation .ox-switch {
  margin-left: 18px;
}
.ox-book-navigation .ox-link-icon svg {
  width: 31px;
  height: auto;
}
.ox-book-navigation .ox-link-icon span {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
.ox-book-navigation__section {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
.ox-book-navigation.--hidden {
  height: 54px;
}
.ox-book-navigation.--hidden .ox-book-navigation__section--first,
.ox-book-navigation.--hidden .ox-book-navigation__section--middle {
  opacity: 0;
}

.ox-sidebar {
  position: fixed;
  left: 0;
  top: 44px;
  bottom: 45px;
  z-index: 500;
  background: #fff;
  width: 340px;
  display: none;
  flex-direction: column;
  transition: bottom 0.3s ease-in, transform 0.3s ease-in-out;
  transform: translate(0, 0);
  box-shadow: 0 3px 15px 0 #00000029;
}
.ox-book-loaded .ox-sidebar {
  display: flex;
}
.ox-sidebar.--hidden {
  transform: translate(-340px, 0);
}
.oxBookNavigationShown .ox-sidebar {
  bottom: 110px;
}
.ox-sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 20px 0 #0000001a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 200;
  padding: 15px 24px;
}
.ox-sidebar__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  z-index: 200;
}
.ox-sidebar__footer .ox-button--addresource {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.ox-sidebar__footer .ox-button--addresource svg {
  width: 24px;
}
.ox-sidebar__footer .ox-button--addresource:hover, .ox-sidebar__footer .ox-button--addresource:active, .ox-sidebar__footer .ox-button--addresource:focus {
  color: #fff;
  background-color: #2ba2b7;
}
.ox-sidebar__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  color: #2ba2b7;
  text-transform: uppercase;
  margin: 0;
}
.ox-sidebar .ox-link {
  font-style: italic;
}
.ox-sidebar__body {
  flex-grow: 2;
  padding-top: 55px;
  padding-bottom: 55px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: #777777 #fff;
  scrollbar-width: thin;
  position: relative;
  z-index: 150;
  background: #fff;
  box-shadow: 0 3px 15px 0 #00000029;
}
.ox-sidebar__body::-webkit-scrollbar {
  width: 6px;
}
.ox-sidebar__body::-webkit-scrollbar-track {
  background: transparent;
}
.ox-sidebar__body::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius: 20px;
}
.ox-sidebar__list {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.33;
  color: #02285c;
  list-style: none;
  padding: 0;
  margin: 0;
}
.ox-sidebar__list li {
  border-bottom: 2px solid #d1d8e1;
}
.ox-sidebar__list a {
  color: #02285c;
  position: relative;
  display: block;
  padding: 18px 48px 18px 24px;
}
.ox-sidebar__list a::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #677e9d;
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translate(-50%, -50%) rotate(-90deg);
  z-index: 10;
}
.ox-sidebar__list li:hover a,
.ox-sidebar__list li.--current a,
.ox-sidebar__list li.--active a {
  background-color: #d1d8e1;
  color: #02285c;
}
.ox-sidebar__list li:hover a::before,
.ox-sidebar__list li.--current a::before,
.ox-sidebar__list li.--active a::before {
  border-top-color: #02285c;
}

.ox-sidebar__thumbs__wrapper {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: #777777 #fff;
  scrollbar-width: thin;
  position: fixed;
  left: 340px;
  top: 0;
  height: 100%;
  width: calc(100vw - 340px);
  background: rgba(2, 40, 92, 0.9);
  color: #fff;
  transform: translate(0, 0);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
  box-shadow: 0 3px 15px 0 #00000029;
}
.ox-sidebar__thumbs__wrapper::-webkit-scrollbar {
  width: 6px;
}
.ox-sidebar__thumbs__wrapper::-webkit-scrollbar-track {
  background: transparent;
}
.ox-sidebar__thumbs__wrapper::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius: 20px;
}
.ox-sidebar__thumbs__wrapper .ox-button {
  position: absolute;
  right: 32px;
  top: 32px;
}
.ox-sidebar__thumbs__wrapper.--hidden {
  transform: translate(-200%, 0);
}

.ox-sidebar__resources__wrapper {
  position: fixed;
  left: 340px;
  top: 0;
  height: 100%;
  width: 340px;
  background: #fff;
  transform: translate(0, 0);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
  box-shadow: 0 3px 15px 0 #00000029;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: #777777 #fff;
  scrollbar-width: thin;
}
.ox-sidebar__resources__wrapper::-webkit-scrollbar {
  width: 6px;
}
.ox-sidebar__resources__wrapper::-webkit-scrollbar-track {
  background: transparent;
}
.ox-sidebar__resources__wrapper::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius: 20px;
}
.ox-sidebar__resources__wrapper.--hidden {
  transform: translate(-340px, 0);
}
.ox-sidebar__resources__wrapper .ox-sidebar__list li {
  border-bottom-color: #e6f5f5;
  position: relative;
}
.ox-sidebar__resources__wrapper .ox-sidebar__list li a::before {
  content: none;
}
.ox-sidebar__resources__wrapper .ox-sidebar__list li a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-size: 24px auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.ox-sidebar__resources__wrapper .ox-sidebar__list li.--actividad a::after {
  background-image: none;
}
.ox-sidebar__resources__wrapper .ox-sidebar__list li.--level-1 {
  background-color: #e6f5f5;
  font-size: 18px;
}
.ox-sidebar__resources__wrapper .ox-sidebar__list li.--level-1 a::after {
  content: none;
}
.ox-sidebar__resources__wrapper .ox-sidebar__list li.--archivo a::after {
  background-image: url(images/resource-activity.svg);
  background-size: 18px auto;
}
.ox-sidebar__resources__wrapper .ox-sidebar__list li.--video a::after {
  background-image: url(images/resource-video.svg);
}
.ox-sidebar__resources__wrapper .ox-sidebar__list li.--imagen a::after, .ox-sidebar__resources__wrapper .ox-sidebar__list li.--img a::after {
  background-image: url(images/resource-image.svg);
}
.ox-sidebar__resources__wrapper .ox-sidebar__list li.--audio a::after, .ox-sidebar__resources__wrapper .ox-sidebar__list li.--musica a::after {
  background-image: url(images/resource-audio.svg);
}
.ox-sidebar__resources__wrapper .ox-sidebar__list.--hidden {
  display: none;
}

.ox-button--addresource {
  background: #cdecec;
  color: #02285c;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.35;
  padding: 14px 20px;
}

.ox-sidebar__thumbs {
  margin-bottom: 32px;
  padding: 32px;
}
.ox-sidebar__thumbs__title {
  font-size: 15px;
  line-height: 1.33;
  font-weight: bold;
  margin: 0 0 15px 0;
}

.ox-thumb__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -8px -16px;
  max-width: 800px;
}

.ox-thumb {
  border-radius: 10px;
  margin-bottom: 16px;
  padding: 8px;
  width: 128px;
}
.ox-thumb__page {
  margin-top: 4px;
}
.ox-thumb__inner {
  color: #fff;
  font-size: 15px;
  line-height: 1.33;
  display: block;
}
.ox-thumb__inner:hover {
  color: #fff !important;
}
.ox-thumb__media {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.ox-thumb__media img {
  min-width: 50%;
  width: 50%;
  height: auto;
  display: block;
}
.ox-thumb__pages {
  margin-top: 5px;
}
.ox-thumb.--current {
  box-shadow: 0 0 0 4px #fff;
}

.body_htmlBook:not(.ox-book-loaded) #libro-digital iframe {
  visibility: hidden !important;
}

.body_htmlBook.edit #libro-digital iframe {
  visibility: visible !important;
}

.ox-page--resourcessection.loading,
.ox-page--oxfordexamssection.loading {
  visibility: hidden;
}

.ox-resourcessection-navbar {
  box-shadow: 0 0 15px 0 #02285c29;
  background: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 100;
}
.ox-resourcessection-navbar__title {
  display: none;
}

.ox-resourcessection-header {
  min-height: 32px;
}
.ox-resourcessection-header::before {
  content: none;
}
.ox-resourcessection-header__description {
  display: none;
}
.ox-resourcessection-header__title {
  padding: 9px 0;
}
.ox-resourcessection-header .ox-title {
  font-size: 10px;
  font-weight: bold;
  line-height: 1.4;
  text-transform: uppercase;
}

.ox-resourceslist__inner {
  padding-bottom: 64px;
}
.ox-resourceslist__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #313131;
  padding: 0 0 7px 0;
  margin: 50px 0 0 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  color: #313131;
}

.ox-resourceslist--cards .ox-resourceslist__inner,
.ox-resourceslist--cards--2 .ox-resourceslist__inner,
.ox-resourceslist--cards--3 .ox-resourceslist__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  margin: 0 -8px -42px;
}
.ox-resourceslist--cards .ox-resourceslist__inner .ox-resource--card,
.ox-resourceslist--cards--2 .ox-resourceslist__inner .ox-resource--card,
.ox-resourceslist--cards--3 .ox-resourceslist__inner .ox-resource--card {
  width: calc(33.333% - 16px);
  margin: 0 8px 42px;
}
@media (max-width: 1030px) {
  .ox-resourceslist--cards .ox-resourceslist__inner .ox-resource--card,
.ox-resourceslist--cards--2 .ox-resourceslist__inner .ox-resource--card,
.ox-resourceslist--cards--3 .ox-resourceslist__inner .ox-resource--card {
    width: calc(50% - 16px);
  }
}
@media (max-width: 990px) {
  .ox-resourceslist--cards .ox-resourceslist__inner .ox-resource--card,
.ox-resourceslist--cards--2 .ox-resourceslist__inner .ox-resource--card,
.ox-resourceslist--cards--3 .ox-resourceslist__inner .ox-resource--card {
    width: calc(100% - 16px);
  }
}

.ox-resource--card {
  box-shadow: 0 0 15px 0 #02285c29;
  background: #fff;
  padding: 0;
  border-radius: 32px;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.ox-resource--card .ox-resource__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #313131 !important;
  min-width: 100%;
}
.ox-resource--card .ox-resource__image {
  width: 100%;
  height: 150px;
  min-height: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.ox-resource--card .ox-resource__image .ox-badge {
  position: absolute;
  right: 12px;
  top: 12px;
}
.ox-resource--card .ox-resource__body {
  padding: 16px;
  flex-grow: 2;
}
.ox-resource--card .ox-resource__title {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.42;
  color: #313131;
  text-transform: uppercase;
  margin-top: 0;
  color: #313131;
}
.ox-resource--card .ox-resource__description {
  font-size: 12px;
  line-height: 1.42;
  text-align: left;
  color: #4D4D4D;
  height: 68px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: #777777 #fff;
  scrollbar-width: thin;
}
.ox-resource--card .ox-resource__description::-webkit-scrollbar {
  width: 6px;
}
.ox-resource--card .ox-resource__description::-webkit-scrollbar-track {
  background: transparent;
}
.ox-resource--card .ox-resource__description::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius: 20px;
}
.ox-resource--card .ox-resource__textlink {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.33;
  color: #2ba2b7;
  padding: 16px;
  margin-bottom: 8px;
}
.ox-resource--card .ox-resource__download {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.42;
  color: #02285c;
  min-width: 100%;
  padding: 16px;
  margin-bottom: 8px;
}
.ox-resource--card .ox-resource__download svg {
  width: 13px;
  height: auto;
  display: inline-block;
  margin-left: 8px;
}
.ox-resource--card--2 .ox-resource__title {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.33;
  color: #02285c;
  min-height: 60px;
  text-transform: none;
}
.ox-resource--card--2 .ox-resource__image {
  height: 97px;
  min-height: 97px;
}
.ox-resource--card--3 {
  position: relative;
  min-height: 134px;
  padding-bottom: 20px;
}
.ox-resource--card--3.--student.--locked {
  opacity: 0.7;
}
.ox-resource--card--3 .ox-resource__title {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.33;
  color: #02285c;
  padding-right: 30px;
}
.ox-resource--card--3 .ox-resource__description {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.42;
  color: #02285c;
  height: auto;
  min-height: 34px;
  margin: 0 0 8px 0;
}
.ox-resource--card--3 .ox-button--lock {
  position: absolute;
  z-index: 10;
  right: 18px;
  top: 10px;
}
.ox-resource--card--3 .ox-button--view {
  position: absolute;
  z-index: 10;
  right: 18px;
  bottom: 10px;
}

.ox-resource--exam {
  padding-right: 0;
}
.ox-resource--exam .ox-resource__title {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.07;
  color: #02285c;
}

.ox-resource-header__title {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.07;
  color: #02285c;
}

.ox-resourceslist--cards--2 .ox-resourceslist__inner {
  margin: 0 -13px -34px;
}
.ox-resourceslist--cards--2 .ox-resourceslist__inner .ox-resource--card {
  margin: 0 13px 34px;
  width: calc(33.333% - 26px);
}
@media (max-width: 1030px) {
  .ox-resourceslist--cards--2 .ox-resourceslist__inner .ox-resource--card {
    margin: 0 8px 20px;
    width: calc(50% - 16px);
  }
}
@media (max-width: 990px) {
  .ox-resourceslist--cards--2 .ox-resourceslist__inner .ox-resource--card {
    width: calc(100% - 16px);
  }
}

.ox-resourceslist--cards--3 .ox-resource-header {
  min-width: 100%;
  margin: 0 8px 16px;
}
.ox-resourceslist--cards--3 .ox-resourceslist__inner .ox-resource--card {
  width: 174px;
}

.ox-resource--exam .ox-gradebadge span {
  position: relative;
}
.ox-resource--exam .ox-gradebadge {
  margin-left: 0;
  margin-right: 0;
}
.ox-resource--exam .ox-resource__grade {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ox-resource--exam .ox-resource__tag {
  display: inline-block;
  padding: 0 22px;
  font-size: 15px;
  font-weight: bold;
  line-height: 0.93;
  text-align: center;
  color: #8bcb71;
  text-transform: uppercase;
}

.ox-resource__icon--archivo + .ox-resource__body .ox-resource__title {
  position: relative;
  padding-right: 30px;
}
.ox-resource__icon--archivo + .ox-resource__body .ox-resource__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translate(0, -50%);
  z-index: 10;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-size: 44px auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(images/download.svg);
}

.ox-body-resourcessection .ox-page,
.ox-body-oxfordexamssection .ox-page {
  transform: none !important;
}

.ox-examblock-wrapper {
  padding-top: 32px;
  padding-bottom: 64px;
}
.ox-examblock-wrapper + .ox-examblock-wrapper {
  margin-top: -64px;
}
.ox-examblock-wrapper .ox-examblock:last-child {
  padding-bottom: 0;
}

.ox-page--oxfordexamssection .ox-module--header .ox-module__inner::before {
  content: none;
}

.ox-index-empty__inner::before {
  content: none;
}

.ox-resourceslist .ox-index-empty {
  min-height: 100vh;
}

.ox-resource--card .ox-resource__grade {
  position: relative;
}
.ox-resource--card .ox-resource__grade__label {
  position: absolute;
  top: 3px;
  left: 10px;
  z-index: 10;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.42;
  text-align: left;
  color: #001d1f;
}
.ox-resource--card .ox-gradebadge {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.42;
  text-align: left;
  color: #001d1f;
  background: #fff;
  border: 0;
  border-radius: 20px;
  width: auto;
  height: 20px;
  padding: 2px 8px 2px 50px;
  position: relative;
  margin: 0;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  box-shadow: none;
}
.ox-resource--card .ox-gradebadge span {
  width: auto;
  min-width: 0;
  position: relative;
  top: 1px;
}
.ox-resource--card .ox-gradebadge.ox-activity-ok {
  background-color: #d0eac6;
  color: #001d1f;
}
.ox-resource--card .ox-gradebadge.ox-activity-ok span {
  color: #001d1f;
}
.ox-resource--card .ox-gradebadge.ox-activity-ko {
  background-color: rgba(185, 37, 37, 0.2);
  color: #001d1f;
}
.ox-resource--card .ox-gradebadge.ox-activity-ko span {
  color: #001d1f;
}

.btn.ox-btn--end {
  background: #02285c;
}

.ox-review--test__inner {
  min-width: 900px;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ox-body-slide .ox-navigation-wrapper {
  bottom: 0;
}

.ox-body-slide.ox-html_content .slider-control,
.ox-body-slide.ox-html_content .slider-control:focus {
  margin-top: -40px;
}

.ox-body-slide .radio-option label.filter-label.respuesta_ok::before {
  border-color: #8bcb71 !important;
  background-color: #d0eac6 !important;
}

.ox-body-slide .radio-option label.filter-label.respuesta_ko::before {
  border-color: #b92525 !important;
  background-color: rgba(185, 37, 37, 0.2) !important;
}

.ox-body-slide #actividad .workspace.multiple-choice .opcion > *,
.ox-body-slide #actividad .workspace.multiple-choice .opcion.respuesta_ok > *,
.ox-body-slide #actividad .workspace.multiple-choice .opcion.solucion > *,
.ox-body-slide #actividad .workspace.multiple-choice .opcion.respuesta_ko > * {
  border-width: 2px;
  border-radius: 5px;
}

.bck-dropdown.right-fb-dropdown,
.bck-dropdown.wrong-fb-dropdown {
  border-radius: 20px;
}
.bck-dropdown.right-fb-dropdown .bck-dropdown-titulo,
.bck-dropdown.wrong-fb-dropdown .bck-dropdown-titulo {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.36;
  color: #fff;
}
.bck-dropdown.right-fb-dropdown .bck-dropdown-icon,
.bck-dropdown.wrong-fb-dropdown .bck-dropdown-icon {
  margin-right: -16px;
  margin-top: 6px;
}
.bck-dropdown.right-fb-dropdown .bck-dropdown-icon .fa,
.bck-dropdown.wrong-fb-dropdown .bck-dropdown-icon .fa {
  padding: 0;
}
.bck-dropdown.right-fb-dropdown .bck-dropdown-icon .fa:before,
.bck-dropdown.wrong-fb-dropdown .bck-dropdown-icon .fa:before {
  content: "";
  color: #fff;
  border-radius: 24px;
  border: 2px solid #fff;
  border-radius: 30px;
  width: 24px;
  height: 24px;
  display: block;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bck-dropdown.right-fb-dropdown .bck-dropdown-content,
.bck-dropdown.wrong-fb-dropdown .bck-dropdown-content {
  background: #fff;
  border-radius: 0 0 20px 20px;
  margin: 0;
  padding: 20px;
}

.fb_solucion .bck-dropdown.right-fb-dropdown,
.bck-dropdown.right-fb-dropdown {
  background: #8bcb71;
  border-color: #8bcb71;
}

.bck-dropdown.wrong-fb-dropdown,
.fb_solucion .bck-dropdown.wrong-fb-dropdown {
  background: #b92525;
  border-color: #b92525;
}

.fb_right, .fb_wrong, .fb_solucion {
  justify-content: flex-start;
}

.workspace.multiple-choice .fb_right, .workspace.multiple-choice .fb_wrong, .workspace.multiple-choice .fb_solucion {
  margin-bottom: 20px;
  max-width: 374px;
}
.workspace.multiple-choice .fb_right .bck-dropdown.right-fb-dropdown,
.workspace.multiple-choice .fb_right .bck-dropdown.wrong-fb-dropdown, .workspace.multiple-choice .fb_wrong .bck-dropdown.right-fb-dropdown,
.workspace.multiple-choice .fb_wrong .bck-dropdown.wrong-fb-dropdown, .workspace.multiple-choice .fb_solucion .bck-dropdown.right-fb-dropdown,
.workspace.multiple-choice .fb_solucion .bck-dropdown.wrong-fb-dropdown {
  min-width: 100%;
}

.ox-body-slide #actividad .workspace.test li.fb_right, .ox-body-slide #actividad .workspace.test li.fb_wrong, .ox-body-slide #actividad .workspace.test li.fb_solution,
.ox-body-slide #actividad .workspace.true-false li.fb_right,
.ox-body-slide #actividad .workspace.true-false li.fb_wrong,
.ox-body-slide #actividad .workspace.true-false li.fb_solution {
  margin-bottom: 30px;
  margin-top: -10px;
}

.ox-topbar .ox-button--icon--close {
  display: none !important;
}

/*# sourceMappingURL=01.main.css.map */
